* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;

  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#app {
  height: 100vh;
  background-color: #F2F2F2;
}

